:root {
  --primary-100: #0b47fe;
  --primary-90: rgba(11, 71, 254, 90%);
  --primary-80: rgba(11, 71, 254, 80%);
  --primary-70: rgba(11, 71, 254, 70%);
  --primary-60: rgba(11, 71, 254, 60%);
  --primary-50: rgba(11, 71, 254, 50%);
  --primary-40: rgba(11, 71, 254, 40%);
  --primary-30: rgba(11, 71, 254, 30%);
  --primary-20: rgba(11, 71, 254, 20%);
  --primary-10: rgba(11, 71, 254, 10%);
  --primary-05: rgba(11, 71, 254, 5%);

  --secondary-100: rgb(53, 0, 183);
  --secondary-90: rgba(53, 0, 183, 90%);
  --secondary-80: rgba(53, 0, 183, 80%);
  --secondary-70: rgba(53, 0, 183, 70%);
  --secondary-60: rgba(53, 0, 183, 60%);
  --secondary-50: rgba(53, 0, 183, 50%);
  --secondary-40: rgba(53, 0, 183, 40%);
  --secondary-30: rgba(53, 0, 183, 30%);
  --secondary-20: rgba(53, 0, 183, 20%);
  --secondary-10: rgba(53, 0, 183, 10%);
  --secondary-05: rgba(53, 0, 183, 5%);

  --light-pink: #A1E6E3;
  --light-blue: #FFC75F;

  --white: #ffffff;
  --white-2: #e6e6e6;
  --white-smoke: #f5f5ff;
  --white-4: #808080;
  --gray-30: #4d4d4d;
  --black: #000000;
  --gray-6: #f6f6f6;
  --header-color: #F266AB;

  --primary-blue: #845EC2;
  --primary-pink: #0C9463;
  --primary-green: #6bd28e;
  --primary-lemon: #DEFF8B;

  --text-1: #191919;
  --text-2: #4c4c4c;
  --text-4: #b3b3b3;
}
